* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  margin: auto;
  max-width: 1024px;
}
.header {
  background-color: antiquewhite;
  width: 100%;
  height: 100px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  font-size: xx-large;
}
.options {
  font-size: large;
}
.options ul li {
  padding: 1rem;
  cursor: pointer;
}
.options ul li:hover {
  background-color: beige;
}
.options ul {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}
